<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channels</key>
	<array>
		<string>AdobeAPE3.4_Mac_NoLocale</string>
		<string>AdobeAfterEffects-13.0.0-Trial</string>
		<string>AdobeAfterEffectsCC2014LangPackde_DE-13.0.0</string>
		<string>AdobeAfterEffectsCC2014LangPacken_US-13.0.0</string>
		<string>AdobeAfterEffectsCC2014LangPackes_ES-13.0.0</string>
		<string>AdobeAfterEffectsCC2014LangPackfr_FR-13.0.0</string>
		<string>AdobeAfterEffectsCC2014LangPackit_IT-13.0.0</string>
		<string>AdobeAfterEffectsCC2014LangPackja_JP-13.0.0</string>
		<string>AdobeAfterEffectsCC2014LangPackko_KR-13.0.0</string>
		<string>AdobeAfterEffectsCC2014LangPackpt_BR-13.0.0</string>
		<string>AdobeAfterEffectsCC2014LangPackru_RU-13.0.0</string>
		<string>AdobeAfterEffectsCC2014LangPackzh_CN-13.0.0</string>
		<string>AdobeAfterEffectsCC2014Presets-13.0.0</string>
		<string>AdobeAfterEffectsCC2014Support-13.0.0</string>
		<string>AdobeColorCommonSetRGB-4.0</string>
		<string>AdobeColorVideoProfilesAECS6-4.0</string>
		<string>AdobeFontsRecommended-3.0</string>
		<string>AdobeFontsRequired-3.0</string>
		<string>AdobeMotionPictureColorFilesCC-5.0</string>
		<string>CameraProfilesInstaller-8.0</string>
		<string>PhotoshopCameraRaw8-8.0</string>
	</array>
</dict>
</plist>
