<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channels</key>
	<array>
		<string>AdobeSpeedGrade-8.0.0-Trial</string>
		<string>AdobeSpeedGradeCC2014LangPackde_DE-8.0.0</string>
		<string>AdobeSpeedGradeCC2014LangPacken_US-8.0.0</string>
		<string>AdobeSpeedGradeCC2014LangPackes_ES-8.0.0</string>
		<string>AdobeSpeedGradeCC2014LangPackfr_FR-8.0.0</string>
		<string>AdobeSpeedGradeCC2014LangPackit_IT-8.0.0</string>
		<string>AdobeSpeedGradeCC2014LangPackja_JP-8.0.0</string>
		<string>AdobeSpeedGradeCC2014LangPackpt_BR-8.0.0</string>
		<string>AdobeSpeedGradeCC2014LangPackru_RU-8.0.0</string>
	</array>
</dict>
</plist>
