<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channels</key>
	<array>
		<string>AIRforIOSFlashBuilder3.1</string>
		<string>AdobeCMapsCS6-4.0</string>
		<string>AdobeFlashBuilder-mul-4.7</string>
		<string>AdobeTypeSupportCS6-11.0</string>
		<string>CSTI_CS7-4.0</string>
	</array>
</dict>
</plist>
