<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channels</key>
	<array>
		<string>AdobeAPE3.4_Mac_NoLocale</string>
		<string>AdobeColorCommonSetCMYK-5.0</string>
		<string>AdobeColorCommonSetRGB-5.0</string>
		<string>AdobeColorEUExtraSettingsCC-5.0</string>
		<string>AdobeColorEURecommendedSettingsCC-5.0</string>
		<string>AdobeColorJAExtraSettingsCC-5.0</string>
		<string>AdobeColorJARecommendedSettingsCC-5.0</string>
		<string>AdobeColorNAExtraSettingsCC-5.0</string>
		<string>AdobeColorNARecommendedSettingsCC-5.0</string>
		<string>AdobeDigitalPublishingCC2014-2.0</string>
		<string>AdobeIDCC2014AppBase2-10.0</string>
		<string>AdobeIDCC2014AppFSetJapan-10.0</string>
		<string>AdobeIDCC2014AppFSetMena-10.0</string>
		<string>AdobeIDCC2014AppFSetRoman-10.0</string>
		<string>AdobeIDCC2014AppLangcs_CZ-10.0</string>
		<string>AdobeIDCC2014AppLangda_DK-10.0</string>
		<string>AdobeIDCC2014AppLangde_DE-10.0</string>
		<string>AdobeIDCC2014AppLangen_AE-10.0</string>
		<string>AdobeIDCC2014AppLangen_GB-10.0</string>
		<string>AdobeIDCC2014AppLangen_IL-10.0</string>
		<string>AdobeIDCC2014AppLangen_US-10.0</string>
		<string>AdobeIDCC2014AppLanges_ES-10.0</string>
		<string>AdobeIDCC2014AppLanges_MX-10.0</string>
		<string>AdobeIDCC2014AppLangfi_FI-10.0</string>
		<string>AdobeIDCC2014AppLangfr_CA-10.0</string>
		<string>AdobeIDCC2014AppLangfr_FR-10.0</string>
		<string>AdobeIDCC2014AppLangfr_MA-10.0</string>
		<string>AdobeIDCC2014AppLanghu_HU-10.0</string>
		<string>AdobeIDCC2014AppLangit_IT-10.0</string>
		<string>AdobeIDCC2014AppLangja_JP-10.0</string>
		<string>AdobeIDCC2014AppLangko_KR-10.0</string>
		<string>AdobeIDCC2014AppLangnb_NO-10.0</string>
		<string>AdobeIDCC2014AppLangnl_NL-10.0</string>
		<string>AdobeIDCC2014AppLangpl_PL-10.0</string>
		<string>AdobeIDCC2014AppLangpt_BR-10.0</string>
		<string>AdobeIDCC2014AppLangru_RU-10.0</string>
		<string>AdobeIDCC2014AppLangsv_SE-10.0</string>
		<string>AdobeIDCC2014AppLangtr_TR-10.0</string>
		<string>AdobeIDCC2014AppLanguk_UA-10.0</string>
		<string>AdobeIDCC2014AppLangzh_CN-10.0</string>
		<string>AdobeIDCC2014AppLangzh_TW-10.0</string>
		<string>AdobeIDCC2014CBase-10.0</string>
		<string>AdobeIDCC2014CLangcs_CZ-10.0</string>
		<string>AdobeIDCC2014CLangda_DK-10.0</string>
		<string>AdobeIDCC2014CLangde_DE-10.0</string>
		<string>AdobeIDCC2014CLangen_AE-10.0</string>
		<string>AdobeIDCC2014CLangen_GB-10.0</string>
		<string>AdobeIDCC2014CLangen_IL-10.0</string>
		<string>AdobeIDCC2014CLangen_US-10.0</string>
		<string>AdobeIDCC2014CLanges_ES-10.0</string>
		<string>AdobeIDCC2014CLanges_MX-10.0</string>
		<string>AdobeIDCC2014CLangfi_FI-10.0</string>
		<string>AdobeIDCC2014CLangfr_CA-10.0</string>
		<string>AdobeIDCC2014CLangfr_FR-10.0</string>
		<string>AdobeIDCC2014CLangfr_MA-10.0</string>
		<string>AdobeIDCC2014CLanghu_HU-10.0</string>
		<string>AdobeIDCC2014CLangit_IT-10.0</string>
		<string>AdobeIDCC2014CLangja_JP-10.0</string>
		<string>AdobeIDCC2014CLangko_KR-10.0</string>
		<string>AdobeIDCC2014CLangnb_NO-10.0</string>
		<string>AdobeIDCC2014CLangnl_NL-10.0</string>
		<string>AdobeIDCC2014CLangpl_PL-10.0</string>
		<string>AdobeIDCC2014CLangpt_BR-10.0</string>
		<string>AdobeIDCC2014CLangru_RU-10.0</string>
		<string>AdobeIDCC2014CLangsv_SE-10.0</string>
		<string>AdobeIDCC2014CLangtr_TR-10.0</string>
		<string>AdobeIDCC2014CLanguk_UA-10.0</string>
		<string>AdobeIDCC2014CLangzh_CN-10.0</string>
		<string>AdobeIDCC2014CLangzh_TW-10.0</string>
		<string>AdobeInDesignCC2014-10.0</string>
	</array>
</dict>
</plist>
