<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channels</key>
	<array>
		<string>AdobeAPE3.4_Mac_NoLocale</string>
		<string>AdobeColor-PhotoshopSpecificCC-5.0</string>
		<string>AdobeColorCommonSetCMYK-5.0</string>
		<string>AdobeColorCommonSetRGB-5.0</string>
		<string>AdobeColorEUExtraSettingsCC-5.0</string>
		<string>AdobeColorEURecommendedSettingsCC-5.0</string>
		<string>AdobeColorJAExtraSettingsCC-5.0</string>
		<string>AdobeColorJARecommendedSettingsCC-5.0</string>
		<string>AdobeColorNAExtraSettingsCC-5.0</string>
		<string>AdobeColorNARecommendedSettingsCC-5.0</string>
		<string>AdobeColorVideoProfilesCSCC-5.0</string>
		<string>AdobePhotoshopCC2014-15.0</string>
		<string>AdobePhotoshopCC2014AEEnglishLanguagePack-15.0</string>
		<string>AdobePhotoshopCC2014BrazilianPortugeseLanguagePack-15.0</string>
		<string>AdobePhotoshopCC2014CanadianFrenchLanguagePack-15.0</string>
		<string>AdobePhotoshopCC2014ChineseLanguagePack-15.0</string>
		<string>AdobePhotoshopCC2014ChinesetraditionalLanguagePack-15.0</string>
		<string>AdobePhotoshopCC2014CzechLanguagePack-15.0</string>
		<string>AdobePhotoshopCC2014DanishLanguagePack-15.0</string>
		<string>AdobePhotoshopCC2014DutchLanguagePack-15.0</string>
		<string>AdobePhotoshopCC2014EnglishLanguagePack-15.0</string>
		<string>AdobePhotoshopCC2014FinnishLanguagePack-15.0</string>
		<string>AdobePhotoshopCC2014FrenchLanguagePack-15.0</string>
		<string>AdobePhotoshopCC2014GermanLanguagePack-15.0</string>
		<string>AdobePhotoshopCC2014HungarianLanguagePack-15.0</string>
		<string>AdobePhotoshopCC2014ILEnglishLanguagePack-15.0</string>
		<string>AdobePhotoshopCC2014InternationalEnglishLanguagePack-15.0</string>
		<string>AdobePhotoshopCC2014ItalianLanguagePack-15.0</string>
		<string>AdobePhotoshopCC2014JapaneseLanguagePack-15.0</string>
		<string>AdobePhotoshopCC2014KoreanLanguagePack-15.0</string>
		<string>AdobePhotoshopCC2014MAFrenchLanguagePack-15.0</string>
		<string>AdobePhotoshopCC2014NorthAmericanSpanishLanguagePack-15.0</string>
		<string>AdobePhotoshopCC2014NorwegianLanguagePack-15.0</string>
		<string>AdobePhotoshopCC2014PolishLanguagePack-15.0</string>
		<string>AdobePhotoshopCC2014RussianLanguagePack-15.0</string>
		<string>AdobePhotoshopCC2014SpanishLanguagePack-15.0</string>
		<string>AdobePhotoshopCC2014Support-15.0</string>
		<string>AdobePhotoshopCC2014SwedishLanguagePack-15.0</string>
		<string>AdobePhotoshopCC2014TurkishLanguagePack-15.0</string>
		<string>AdobePhotoshopCC2014UkrainianLanguagePack-15.0</string>
		<string>CameraProfilesInstaller-8.0</string>
		<string>PhotoshopCameraRaw8-8.0</string>
	</array>
</dict>
</plist>
